### Custom webserver settings
custom_settings.json

### LaTeX
*.aux
*.log
*.pdf
*.synctex.gz
*.fdb_latexmk
*.out
*.toc
reports/Requirements Analysis/.DS_Store
reports/Requirements Analysis/final/requirements.out
reports/Requirements Analysis/final/requirements.toc
test/*
.DS_Store
test/test.php
test/monument.sql
.gitignore
/public/.htaccess
/.project
