[submodule "public/lib/bootstrap"]
	path = public/lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "kohana"]
	path = kohana
	url = https://github.com/kohana/core.git
[submodule "app/modules/orm"]
	path = app/modules/orm
	url = https://github.com/kohana/orm.git
[submodule "app/modules/auth"]
	path = app/modules/auth
	url = https://github.com/kohana/auth.git
[submodule "app/modules/userguide"]
	path = app/modules/userguide
	url = https://github.com/kohana/userguide.git
[submodule "app/modules/database"]
	path = app/modules/database
	url = https://github.com/kohana/database.git
[submodule "app/modules/image"]
	path = app/modules/image
	url = https://github.com/kohana/image.git
[submodule "app/modules/kostache"]
	path = app/modules/kostache
	url = https://github.com/zombor/KOstache.git
[submodule "app/modules/pagination"]
	path = app/modules/pagination
	url = https://github.com/kloopko/kohana-pagination.git
[submodule "app/modules/bonafide"]
	path = app/modules/bonafide
	url = https://github.com/shadowhand/bonafide.git
[submodule "app/modules/unittest"]
	path = app/modules/unittest
	url = https://github.com/kohana/unittest.git
[submodule "app/modules/cache"]
	path = app/modules/cache
	url = https://github.com/kohana/cache.git
[submodule "app/modules/oauth"]
	path = app/modules/oauth
	url = https://github.com/kohana/oauth.git
