.row-fluid.map {
	height:100%;
}

.modal {
	display:none;
}

/**
 * Fixes Google Maps controls
 * @see http://stackoverflow.com/questions/7471830/google-maps-api-v3-weird-ui-display-glitches-with-screenshot
 */
#kaart img { max-width: none; }