.row-fluid.map {
	height:100%;
}

.modal {
	display:none;
	
	&.form-login {
		width: 350px;
		margin-left: -175px;
		
		form { margin-bottom: 0; }
		
		input { 
			display: block;
			width: 100%;
			height: 32px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			    -ms-box-sizing: border-box;
			     -o-box-sizing: border-box;
			        box-sizing: border-box;
		}
		input[type=checkbox] { 
			display: inline; 
			width: auto; 
			height: auto; 
			margin-right: 5px;
		}
		
		.help-block {
			height: 15px;
			line-height: 15px;
			font-size: .9em;
			color: gray;
		}
		
		.bs-links {
			margin: 0;
		}
		.modal-footer { position: relative; }
		.modal-footer-legend {
			position: absolute;
			top:-10px;
			width:50px;
			margin-left:-25px;
			left: 50%;
			text-align:center;
			background: rgba(255,255,255,.4);
		}
	}
}

.bs-links {
	text-align: center;
	
	.btn-group {
		display:inline-block;
	}
}

/**
 * Fixes Google Maps controls
 * @see http://stackoverflow.com/questions/7471830/google-maps-api-v3-weird-ui-display-glitches-with-screenshot
 */
#kaart img { max-width: none; }