.page {
	background:url(../images/splash.jpg) no-repeat top center;
	min-height:700px;
}

html {
	background: #333;
}
body {
	padding-top:40px;
	/*background:url(../images/texture.jpg) repeat;*/
	border-bottom:2px solid green;
	box-shadow: 0 5px 5px solid black;
}

.torn {
	background:url(../images/torn.png);
	width:200px;
	height:200px;
	display:block;
	position:absolute;
	bottom:0;
	right:0;
	z-index:1;
}

@media (max-width: 980px){
	body {
		padding-top: 0;
	}
	
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	
	.page {
		margin-left: -20px;
		margin-right: -20px;
		background-position: -200px center;
	}
	.page .container {
		padding:20px;
	}
}