<phpunit colors="true" bootstrap="../../public/index.php">
    <testsuites>
        <testsuite name="Kohana Tests">
            <directory>./classes</directory>
        </testsuite>
		<filter>
        <whitelist>
            <directory suffix=".php">../tests</directory>
            <exclude>
	        <directory suffix="*">../cache</directory>
        	<directory suffix="*">../config</directory>
            	<directory suffix="*">../logs</directory>
                <directory suffix=".php">../views</directory>
                <file>../bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    </testsuites>
	<php>
		<server name="KOHANA_ENV" value="TESTING" />
	</php>	
</phpunit>
 
    
